<a href="https://colab.research.google.com/github/amrrahman1/Linear-Regression-Metrics-Practice/blob/main/Linear_Regression_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/cali_housing.csv')
df.head()

   MedInc  HouseAge  AveRooms  ...  Latitude  Longitude  MedHouseVal
0  8.3252      41.0  6.984127  ...     37.88    -122.23        4.526
1  8.3014      21.0  6.238137  ...     37.86    -122.22        3.585
2  7.2574      52.0  8.288136  ...     37.85    -122.24        3.521
3  5.6431      52.0  5.817352  ...     37.85    -122.25        3.413
4  3.8462      52.0  6.281853  ...     37.85    -122.25        3.422

[5 rows x 9 columns]

In [ ]:
df.info

<bound method DataFrame.info of        MedInc  HouseAge  AveRooms  ...  Latitude  Longitude  MedHouseVal
0      8.3252      41.0  6.984127  ...     37.88    -122.23        4.526
1      8.3014      21.0  6.238137  ...     37.86    -122.22        3.585
2      7.2574      52.0  8.288136  ...     37.85    -122.24        3.521
3      5.6431      52.0  5.817352  ...     37.85    -122.25        3.413
4      3.8462      52.0  6.281853  ...     37.85    -122.25        3.422
...       ...       ...       ...  ...       ...        ...          ...
20635  1.5603      25.0  5.045455  ...     39.48    -121.09        0.781
20636  2.5568      18.0  6.114035  ...     39.49    -121.21        0.771
20637  1.7000      17.0  5.205543  ...     39.43    -121.22        0.923
20638  1.8672      18.0  5.329513  ...     39.43    -121.32        0.847
20639  2.3886      16.0  5.254717  ...     39.37    -121.24        0.894

[20640 rows x 9 columns]>

In [ ]:
# Assigning Target (y) and features (X)
y = df['MedHouseVal']
X =df.drop(columns = 'MedHouseVal')

In [ ]:
#Train Test Split the Data :
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [ ]:
# Step 1: Import the model :
from sklearn.linear_model import LinearRegression

In [ ]:
#Step 2: Make an instance of the Model :
reg = LinearRegression()

In [ ]:
#Step 3 Model is learning the relationship between X and y :
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Step 4: Make predictions based on your model
train_preds = reg.predict(X_train)
test_preds = reg.predict(X_test)

In [ ]:
train_score = reg.score(X_train, y_train)
print(train_score)

0.609873031052925

In [ ]:
test_score = reg.score(X_test, y_test)
print(test_score)

0.5910509795491357

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np

In [ ]:
# Calculating Coefficient of Determination  :

train_score = reg.score(X_train, y_train)
print(train_score)

0.609873031052925

In [ ]:
test_score = reg.score(X_test, y_test)
print(test_score)

0.5910509795491357

In [37]:
# Mean absolute error (MAE)

from sklearn.metrics import mean_absolute_error as mae

mes_error = mean_squared_error(y_test, test_preds)
print (mes_error)

0.5411287478470682

In [39]:
# Mean squared error (MSE)
from sklearn.metrics import mean_squared_error
mean_squared =mean_squared_error(y_test, test_preds)
print (mean_squared)

0.5411287478470682

In [40]:
#Root mean squared error (RMSE):
root_mean = np.sqrt(mean_squared)
print (root_mean)

0.7356145375446764